{% extends 'base.html' %}
{% block content %}
<table class="table">
    <thead>
        <tr>
            <td>№</td>
            <td>Дата</td>
            <td>Польователь</td>
            <td>Книга</td>
            <td>Статус</td>
            {% if current_user.user_role == 1 or current_user.user_role == 2 %}
            <td>Действие</td>
            {% endif %}
          </tr>
    </thead>
    <tbody>
            {% for log in issue_list %}
            <tr>
              <td>{{log.id}}</td>
              <td>{{log.date_log}}</td>
              <td>{{user.query.filter_by(id = log.user_log).first().user_fio}}</td>
              <td>{{books_list.query.filter_by(id = log.book_log).first().name_book}}</td>
              <td>{{status_list.query.filter_by(id = log.status_log).first().status }}</td>
              {% if current_user.user_role == 1 or current_user.user_role == 2 %}
              <td><a href="{{ url_for('main.set', id = log.id)}}" ><button type="button" class="btn btn-primary">Изменить</button></a></td>
              {% endif %}  
            </tr>
              {% endfor %}
              </tbody>
            </table>
{% endblock %}